.popup__input-error{
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    position: absolute;
    left: 36px;
}

@media all and (max-width: 560px){
    .popup__input-error{
        left: 22px;
    }
}