.popup__button-close_image{
    position: absolute;
    top: -40px;
    right: -40px;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}
@media all and (max-width:560px){
    .popup__button-close_image{
        top: -32px;
        right: 0;
    }
}