.profile__button-add{
    padding: 0;
    align-self: center;
    margin-bottom: 14px;
    margin-left: 245px;
    width: 150px;
    height: 50px;
    background: transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
}
@media all and  (max-width: 1100px){
    .profile__button-add{
        width: 282px;
        margin: 30px auto 0;
    }
}

@media all and (max-width:320px){
    .profile__button-add{
        width: 100%;
    }
}

.profile__button-add:hover{
    opacity: 0.6;
}