.header__nickname {
  width: 300px;
  height: 22px;
  font-size: 18px;
  margin: 0;
  line-height: 22px;
  color: #fff;
  align-self: center;
  text-align: right;
}

@media all and (max-width: 880px) {
  .header__nickname {
    align-self: flex-end;
  }
}

@media all and (max-width: 580px) {
  .header__nickname {
    display: none;
  }
}
