.header__account-exit {
  width: 56px;
  height: 22px;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 0 24px;
  padding: 0;
  color: #a9a9a9;
  background-color: black;
  cursor: pointer;
  align-self: center;
  text-align: right;
  text-decoration: none;
}

@media all and (max-width: 880px) {
  .header__account-exit {
    align-self: flex-end;
  }
}

@media all and (max-width: 580px) {
  .header__account-exit {
    display: none;
  }
}
