.cell__button-delete{
    background-image: url(../../../images/deletebutton.svg);
    background-repeat: no-repeat;
    object-fit: cover;
    position: absolute;
    background-color: transparent;
    box-sizing: border-box;
    border: none;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    cursor: pointer;
}
.cell__button-delete:hover {
    opacity: 0.6;
}