.profile__avatar{
    width: 120px;
    height: 120px;
    position: relative;
    align-self: center;
    border-radius: 50%;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;

  }