.popup__input{
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #000000;
    margin: 30px 36px 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    width: 358px;
    padding-bottom: 13px;
}
.popup__input:focus{
    outline: none;
}
@media all and (max-width: 560px){
    .popup__input{
        max-width: 238px;
        margin: 30px 22px 0;
    }
}