.header{
    max-width: 880px;
    margin: 0 auto 0;
    padding-top: 45px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    padding-bottom: 41px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media all and (max-width: 1100px){
    .header{
        max-width: 750px;
    }
}
@media all and (max-width:889px){
    .header{
        max-width: 580px;
        margin: 0 auto;
    }
}
@media all and (max-width:580px){
    .header{
        max-width: 320px;
        padding-bottom: 28px;
    }
}