.profile__button-avatar{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    right: 0;
}
.profile__button-avatar:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.8);
    background-image: url(../../../images/editbutton.svg);
    background-size: 26px;
    background-position: center;
    background-repeat: no-repeat;
}